@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Lexend+Deca&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  min-width: 350px;
  font-family: Inter;
  color: #fff;
  background: #0a0c1c;
}
.card {
  display: flex;
  width: 1110px;
  border-radius: 8px;
  background: #1b1937;
  box-shadow: 0px 20px 20px -10px rgba(23, 25, 41, 0.2);
}
.card-info {
  width: 50%;
  padding: 70px 70px 60px 70px;
}
.card-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}
.card-title-highlight {
  color: #ab5cdb;
}
.card-desc {
  margin-right: 30px;
  margin-top: 25px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.75;
}

.card-stats {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  margin-right: 70px;
}

.card-stats-companies {
  display: flex;
  flex-direction: column;
}
.card-stats-templates {
  display: flex;
  flex-direction: column;
}
.card-stats-queries {
  display: flex;
  flex-direction: column;
}
.card-stats-companies-nums {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 1;
}
.card-stats-companies-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
  opacity: 0.6;
  text-transform: uppercase;
}
/* .card-stats-num {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
}

.card-stats-text {
  display: flex;
  justify-content: space-between;
  font-family: 'Lexend Deca';
  text-transform: uppercase;
  opacity: 0.6;
} */

.card-img-container {
  position: relative;
  width: 555px;
}
.card-img-container-photo {
  display: block;
  width: 555px;
  border-radius: 0 8px 8px 0;
}
.card-img-container-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 8px 8px 0;
  background-color: rgba(115, 0, 182, 0.5);
}

@media (max-width: 1200px) {
  .card {
    flex-direction: column;
    width: 327px;
  }
  .card-img-container {
    order: -10;
    width: 327px;
  }
  .card-img-container-photo {
    width: 327px;
    border-radius: 8px 8px 0 0;
  }
  .card-img-container-overlay {
    border-radius: 8px 8px 0 0;
  }
  .card-info {
    width: 100%;
    padding: 32px;
  }
  .card-title {
    text-align: center;
    font-size: 28px;
    line-height: 32px;
  }
  .card-desc {
    margin-top: 16px;
    margin-right: 0;
    text-align: center;
  }
  .card-stats {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
    margin-right: 0;
  }
}
